:root {
  --primary-background: #fff;
  --primary-border-card: rgba(0, 0, 0, 0.125);
  --primary-date: grey;
  --primary-title: black;
  --primary-organisation: black;
  --primary-input-border: #e1e4e8;
  --primary-input-background: #fff;
  --primary-contact-background:#dee3de;
}
[data-theme="dark"] {
  --primary-background: #010409;
  --primary-border-card: rgba(255, 255, 255, 0.125);
  --primary-date: #696969;
  --primary-title: #f0f6fc;
  --primary-organisation: rgba(245, 245, 245, 0.88);
  --primary-input-border: #21262d;
  --primary-input-background: #0d1117;
  --primary-contact-background:#1a2228;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
  background: #5cb85c;
}
::-webkit-scrollbar-thumb:hover {
  background: #5ce95c;
  transition: all 0.1s ease-in-out;
  filter: blur(20px);
}

::-webkit-scrollbar-track {
  width: 0px;
  margin-right: 15px;
  background: transparent;
}

/* Main Style css */
html,
body {
   width: 100%;
  overflow-x: hidden;
  z-index:-10;
  background-color: var(--primary-background);
}

html {
  scroll-behavior: smooth;
}

/*Particle js background animation*/
.home-area {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

#contents-page{
  z-index:10;
  position:absolute;
}

.filter-labels{
  color:var(--primary-title);
}

.container-fluid {
  margin-top: 20vh !important;
}

.custom-control-input {
  margin-right: 10px;
}

.custom-switch .custom-control-label::before {
  width: 35px !important;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  transform: translateX(1.17rem) !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
  border-color: #343a40 !important;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #343a40 !important;
  background-color: #010409 !important;
}

.custom-control-input:active ~ .custom-control-label::before {
  background-color: #010409 !important;
  border-color: #343a40 !important;
}

.custom-control-label {
  user-select: none;
  color: white;
  font-size: 14.8px;
  padding-left: 4.5px;
}

.toogle-slider {
  margin-right: 30px;
}

.filter-container {
  justify-content: center;
}

.filter-container > * {
    margin: 0 20px;
    width: auto;
}

label {
  margin-left: 3px;
  margin-bottom: 0;
}


.form-control{
    border:1.5px solid var(--primary-input-border);
    background-color: var(--primary-input-background);
    padding-left: 30px;
}

.form-control:focus {
  border: 1.5px solid var(--primary-input-border);
  background-color: var(--primary-input-background);
  outline: none;
}

.form-group i{
  position: absolute;
}

.icon{
  padding: 10px;
  min-width: 40px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.empty_div {
  position: relative;
  transition: all 0.5s ease;
}

.event_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--primary-border-card);
  border-radius: 5px;
  padding: 30px;
  align-items: center;
  margin: 30px;
  width: 300px;
  min-height: 30rem;
  word-wrap: break-all;
  cursor: pointer;
  transition: all 0.5s ease;
  border-bottom-color: #5cb85c;
  border-bottom-width: 4px;
  box-shadow: 0 8px 16px 0 #5cb85c;
}

.event_card:hover {
  box-shadow: 0 2px 8px 0 #5cb85c;
}

.event_card::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #5cb85c;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  left: 47%;
}

.event_card .btn {
  position: relative;
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
  transition: all 1s ease;
}
.event_card .btn:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.date {
  color: var(--primary-date);
  margin-top: 20px;
}

.date:nth-child(2) {
  margin-bottom: 20px;
}

.event_details {
  display: flex;
  flex-direction: column;
}

.empty_div:hover {
  transform: scale(0.95);
  transition: all 0.5s ease;
}

.event_organisation {
  color: var(--primary-organisation);
}
.event_title {
  font-weight: bold;
  font-size: 1.5rem;
  min-height: 5rem;
  text-transform: uppercase;
  color: var(--primary-title);
}
.event_title:hover{
  font-weight: bold;
  font-size: 2rem;
  min-height: 5rem;
  text-transform: uppercase;
  color:  #5cb85c;
}

.link {
  margin-top: 20px;
}

.locationOnline {
  color: #5cb85c;
  font-weight: bold;
}
.locationOffline {
  color: #ff0000;
  font-weight: bold;
}

footer {
  border-top: 2px solid var(--primary-border-card);
  width: 100%;
  text-align: center;
  flex: none;
  position: sticky;
  top: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  align-items: center;
}

#contactus{
  background-color: var(--primary-contact-background);
  padding:25px 50px;
  padding-bottom: 55px;
}

#contact-head{
  text-align: center;
  text-transform: uppercase;
  color:var(--primary-title);
  font-weight: 650;
  font-size: 35px;
  border-bottom:1.5px solid var(--primary-title);
  padding-bottom: 4px;
}

#contact-message{
  color:var(--primary-title);
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin:0px 80px;
}

#form-footer{
  margin-top: 30px;
}

.center-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-table{
  padding:10px 25px;
  padding-bottom:30px;
  min-width: 450px;
  max-width:500px;
  background-color: var(--primary-background);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.input-container{
  margin:30px 10px;
}

.contact-inputs{
  margin-left: 5px;
  margin-bottom: 12px;
  font-size: 14px;
  color:var(--primary-title);
}

.btn-md{
  font-weight: 600;
  background-color: #5cb85c;
  color:var(--primary-background);
  width:100%;
}

#social-section{
  padding:70px 0px;
}

.footer-details{
  font-size: 22px;
  font-weight: 500;
}

.footer-details i{
  color:#5cb85c;
}

.footer-details span{
  color:grey;
}

#social-media-icons{
  margin-top:20px;
  padding:0px 50px;
  display:flex;
  justify-content: space-between;
  font-size: 28px;
}

.social-media{
  color:var(--primary-title);
  transition: color 0.15s ease-in;
}

.social-media:hover{
  color:#5cb85c;
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 15px;
  display:none;
}

#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}

#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
  opacity: 1;
  pointer-events: all;
  }
  90% {
  opacity: 1;
  pointer-events: all;
  }
  100% {
  opacity: 0;
  pointer-events: none;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Scroll to top css */
.to-top {
  background: #5cb85c;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  color: #fff;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
  animation: ease-in-out 0.5s both;
}
.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
.to-top.active:hover {
  background: #228b22;
}

@media screen and (max-width: 768px) {
  .card-container {
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }
}

@media screen and (max-width: 1000px) {

  .container-fluid {
    margin-top: 10vh !important;
  }

  .filter-container {
    margin: 20px auto;
    flex-direction: column;
  }

  .filter-container > * {
    margin: 10px 0;
    width: auto;
  }
}


@media screen and (max-width: 320px) {
  footer {
    font-size: 0.9rem;
  }
}
